*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Helvetica, "Trebuchet MS", sans-serif;
    background: #fff url(../img/bg.png);
    margin: 15px;
}

#conteiner{
    background: #ede9cc url(../img/bg-container.png) top center repeat-y;
    margin: 0 auto;
    min-width: 740px;    
    max-width: 1180px;
}

#topo{
    position: relative;
    background: #dbcd87;
    height: 15.4em;
    min-height: 250px;
}

#area-logo{
    position: absolute;
    background: url(../img/topo-imagem-principal.png)no-repeat;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    z-index: 1;
}

.logo a{
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    background: url(../img/logo.png) no-repeat;
    width: 151px;
    height: 66px;
    text-indent: -9000px;

}

#area-menu{
    position: absolute;
    background: url(../img/topo-imagem-lateral.png) no-repeat;
    width: 450px;
    height: 250px;
    top: 0;
    right: 0;
    z-index: 2;
}

#conteudo-menu{
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px;
}

#menu-locais{
    border-bottom: 1px solid #b5ab56;
    border-top: 1px solid #b5ab56;
    padding-top: 5px;
    font-size: 0.7em;
    color: #517775;
    line-height: 2.1em;
}

#menu-locais .locais{
    float: left;

}

a{
    text-decoration: none;
}

a.reserva{
    text-transform: uppercase;
    background: #628E8B;
    color: #FFF5B0;
    padding: 5px 10px;
    float: right;
}

#menu{
    margin-top: 15px;

}

ul{
    list-style: none;
}

ul#navegacao{
    float: left;
}

ul#navegacao a{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px;
    color: #628E8B;
    line-height: 30px;
    font-weight: bold
}

ul#navegacao a:hover{
    background: #fdf6be;
}


.depoimento{
    width: 226px;
    height: 164px;
    float: right;
}

/* area de conteudos */

#area-principal{
    float: left;
    width: 50%;
    background: url(../img/bg-area-principal.png) top left repeat-x;
    padding: 15px 0px;
}

#area-lateral{
    float: right;
    width: 50%;
    background: url(../img/bg-area-lateral.png) top left repeat-x;
    padding: 20px 0px;
}

.conteudo{
    margin: 0 auto;
    width: 90%;
}

#rodape{
    clear: both;
    padding: 16px;
    background: #fff url(../img/bg-rodape.png) repeat-x top;
}

/* formatações de texto */

h2{
    color: #628E8B;
    font-size: 1.1em;
    padding: 5px 0px;
}

p{
    font-size: 1em;
    margin-bottom: 10px;
}

/* formatação lateral */

#beneficios li{
    padding: 8px;
    border-bottom: 1px solid #f3efcb;
    height: 6em;

}

#beneficios li a img{
    float: left;
    margin-right: 8px;
}

#beneficios li a p {
    font-size: 0.8em;
    color: #000;
}

#beneficios li a h3{
    font-size: 1em;
    color: #4f7774;
    padding: 5px 0;
    background: url(../img/ornamento.png) no-repeat center right;

}

#beneficios li:hover{
    background: #f6f6d6;
    cursor: pointer;
}